body {
  display: flex;
  position: relative;
  flex-direction: row;
  font-family: Helvetica;
  margin: 0;
}

aside {
  position: relative;
  background-color: #ac74ed;
  width: 20%;
  height: 100vh;
}

article {
  margin-top: 6rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

img {
  height: 9rem;
  width: 9rem;
}

header {
  top: 0;
  display: block;
  position: static;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  margin-bottom: 4rem;
}

h1 {
  font-weight: 600;
  font-size: 4rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  padding: 0px;
  align-items: center;
}

h2 {
  font-weight: lighter;
  margin: 0px;
  /* font-style: italic; */
}

h3 {
  margin-top: 0px;
  font-weight: lighter;
}

button {
  background: none;
  height: 10rem;
  width: 11rem;
  margin: .5rem;
  border: 0px;
  border-radius: 1rem;
  transition-duration: .4s;
}

button:hover {
  border: 2px solid white;
  background-color: #ac74ed;
  cursor: pointer;
}

button:active {
  border: 3px solid yellow;
  background: rgb(235,24,204);
  background: linear-gradient(42deg, rgba(235,24,204,1) 8%, rgba(188,24,222,1) 21%, rgba(153,24,235,1) 36%, rgba(75,191,237,1) 57%, rgba(75,237,169,1) 69%, rgba(75,237,188,1) 78%, rgba(246,255,191,1) 93%);
}

.content-container {
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: #8042d1;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0px;
  border-bottom: 5rem;
  width: 100%;
}

.player-one-sidebar,
.player-two-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3rem;
}

.player-one-sidebar {
  display: flex;
  position: relative;
  margin-right: 5rem;
  background: rgb(62,23,110);
  background: linear-gradient(197deg, rgba(62,23,110,1) 39%, rgba(172,115,237,1) 39%);
}

.player-two-sidebar {
  margin-left: 5rem;
}

.game-display {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 0px;
  padding-bottom: 1rem;
}

.title-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.title {
  display: block;
  position: static;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.fighter-selection {
  display: inline-block;
  flex-direction: row;
  position:relative;
  align-items: center;
  justify-content: center;
  /* margin-top: 20%; */
  margin-bottom: 5%;
}

.bonus-fighters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.5em;
  background: rgb(62,23,110);
  background: linear-gradient(304deg, rgba(62,23,110,1) 0%, rgba(62,23,110,1) 41%, rgba(62,23,110,1) 45%, rgba(157,98,223,1) 45%, rgba(157,98,223,1) 48%, rgba(157,98,223,1) 49%, rgba(62,23,110,1) 49%, rgba(62,23,110,1) 49%, rgba(62,23,110,1) 51%, rgba(126,194,98,1) 51%);
}

.bonus-fighters > button:hover {
  background-color: #9aef75;
}

.fight,
.hard-mode,
.normal-mode,
.play-again {
  height: 5rem;
  border: 2px solid white;
  color: white;
  background-color: #AB72EC;
  font-weight: bolder;
  margin-top: 2rem;
}

.fight:hover,
.normal-mode:hover,
.play-again:hover {
  background-color: #551f96;
}

.gameplay-buttons,
.game-results {
  display: flex;
  justify-content: center;
}

.gameplay-buttons {
  margin-top: 1rem;
}

.game-results {
  justify-content: space-between;
  align-items: flex-end;
  background-color: #AB72EC;
  border: 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.vs-image {
  height: 11rem;
  width: 11rem;
  margin: 0 2rem 0 2rem;
}

.winner-text {
  margin: 1rem;
  font-weight: bolder;
  font-size: 3rem;
  margin-bottom: 5rem;
}

.bonus-information {
  height: auto;
  width: auto;
  margin-top: 2rem;
  font-weight: lighter;
  font-size: 1.5rem;
  background-color: #3E186E;
  padding: 1rem;
  border-radius: 1rem;
}

.hard-mode:hover {
  background-color: #d83a3a;
}

.player-two-sidebar {
  position: static;
  margin-left: 5rem;
  background: rgb(62,23,110);
  background: linear-gradient(163deg, rgba(62,23,110,1) 39%, rgba(172,115,237,1) 39%);
}

.reset-button,
.help-button {
  height: 4rem;
  width: 8rem;
  color: white;
  margin-top: 26rem;
}

.help-button {
  margin-top: 2rem;
  position: static;
}

.obscure {
  opacity: 0%;
}

.vanish {
  opacity: 25%;
}

.space {
  margin-bottom: 0%;
}

.hidden {
  display: none;
}

.static {
  position: absolute;
}
